<h1>partial
    <%= title %>
</h1>

<nav>
    <a href="/html/">HTML</a> |
    <a href="/css/">CSS</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/jquery/">jQuery</a>
</nav>

<h2>HTML Forms</h2>

<form action="/action_page.php">
    First name:
    <br>
    <input type="text" name="firstname" value="Mickey">
    <br> Last name:
    <br>
    <input type="text" name="lastname" value="Mouse">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

<!-- <% for(let i = 0; i> 10; i++){ %>
    <p>
        <%= i%>
    </p>
    <% }%> -->