<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/gif" href="/fish.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>



<body>
    <div id="wrapper">
        <nav>
            <a href="/">Forside</a> |
            <a href="/admin/fisk">Admin</a> |
        </nav>

        <header>
            <h1>Akvarie Test</h1>
        </header>

        <main>

            <%- content %>

        </main>
    </div>

</body>

</html>